<div class="center-align" style="margin-top: 150px">
    <div class="editBox" style="position: static; display: inline-block; margin: 0px; width: 225px">
        <div class="left-align">
            <p class="editTitle">Account</p>
            <input type="text" va ng-model="account" style="margin: 6px 0px 12px; width: 100%" required>
            <p class="editTitle">Password</p>
            <input type="password" ng-model="password" style="margin: 6px 0px 12px; width: 100%" required>
        </div>
        <div>
            <a class="waves-effect waves-light btn" ng-click="signUp()" style="padding: 0px; width: 49%; display: inline-block;">Create</a>
            <a class="waves-effect waves-light btn" ng-click="signIn()" style="padding: 0px; width: 49%; display: inline-block;">Login</a>
        </div>

    </div>
</div>


