<div id="profile-page">
    <img id="cover-image" ng-src="{{coverImage}}" alt="cover-image"/>
    <div id="profile-content">
        <!--PROFILE TOP CARD-->
        <div ng-include src="'partials/main.profile-topcard/profile-topcard.html'"></div>
        <!--PROFILE CONTENT-->
        <div class="row">
            <!--PROFILE LEFT COLUMN-->
            <div id="profile" class="col">
                <!--POST CARD-->
                <div ng-include src="'partials/main.profile-body/post.html'"></div>
                <!--BACKGROUND CARD-->
                <div class="card-body">
                    <h2 class="card-title">Background</h2>
                    <div id="background-content" class="card-content">
                        <!--SUMMARY SECTION-->
                        <div ng-include src="'partials/main.profile-body/background/background-summary.html'"></div>
                        <!--EXPERIENCE SECTION-->
                        <div ng-include src="'partials/main.profile-body/background/background-experience.html'"></div>
                        <!--VOLUNTEER EXPERIENCE SECTION-->
                        <div ng-include src="'partials/main.profile-body/background/background-volunteer.html'"></div>
                        <!--SKILLS SECTION-->
                        <div ng-include src="'partials/main.profile-body/background/background-skills.html'"></div>
                        <!--EDUCATION SECTION-->
                        <div ng-include src="'partials/main.profile-body/background/background-education.html'"></div>
                    </div>
                </div>
            </div>
            <!--PROFILE RIGHT COLUMN-->
            <div id="dummy-column" class="col card-body">
            </div>
        </div>
    </div>
</div>