<div ng-controller="educationController" id="education-section"
     class="editBox-container edit-activator section-container background-section background-last-section">
    <!-- EDUCATION EDIT BOX-->
    <div class="editBox" ng-show="showEducationAdd">
        <p class="editTitle">School Name</p>
        <div style="margin: 6px 0px 12px">
            <input type="text" style="width: 100%" ng-model="educationAdd.schoolName">
        </div>
        <p class="editTitle">School Website</p>
        <div style="margin: 6px 0px 12px">
            <input type="text" style="width: 100%" ng-model="educationAdd.schoolUrl">
        </div>
        <p class="editTitle">School Logo</p>
        <div style="margin: 6px 0px 12px">
            <input type="text" style="width: 100%" ng-model="educationAdd.schoolLogo">
        </div>
        <p class="editTitle">Degree</p>
        <div style="margin: 6px 0px 12px">
            <input type="text" style="width: 100%" ng-model="educationAdd.degree">
        </div>
        <p class="editTitle">Field of Study</p>
        <div style="margin: 6px 0px 12px">
            <input type="text" style="width: 100%" ng-model="educationAdd.field">
        </div>
        <p class="editTitle">Period</p>
        <div style="margin: 6px 0px 12px">
            <input type="text" style="width: 49%" ng-model="educationAdd.startPeriod"><!--
                                 --><span style="width: 2%"> </span><!--
                                 --><input type="text" style="width: 49%" ng-model="educationAdd.endPeriod">
        </div>

        <a class="waves-effect waves-light btn edit-confirm" ng-click="educationAddConfirm()">Add</a>
        <a class="waves-effect waves-light btn edit-cancel" ng-click="showEducationAdd=false">Cancel</a>
    </div>
    <!-- EDUCATION EDIT BUTTONS-->
    <div class="edit-section">
        <a class="overlay-button add-button" ng-click="educationAddShow()"></a>
    </div>
    <!-- EDUCATION DISPLAY CONTENTS-->
    <div class="valign-wrapper background-section-header">
        <img src=".\images\commons\header-education.png" class="valign"/>
        <h3 class="valign">Education</h3>
    </div>
    <div class="edit-activator section-container row info-bar" ng-repeat="edu in education">
        <!-- EDUCATION SINGLE ITEM EDIT BOX-->
        <div class="editBox" ng-show="showEducationEdit[$index]">
            <p class="editTitle">School Name</p>
            <div style="margin: 6px 0px 12px">
                <input type="text" style="width: 100%" ng-model="educationEdit.schoolName">
            </div>
            <p class="editTitle">School Website</p>
            <div style="margin: 6px 0px 12px">
                <input type="text" style="width: 100%" ng-model="educationEdit.schoolUrl">
            </div>
            <p class="editTitle">School Logo</p>
            <div style="margin: 6px 0px 12px">
                <input type="text" style="width: 100%" ng-model="educationEdit.schoolLogo">
            </div>
            <p class="editTitle">Degree</p>
            <div style="margin: 6px 0px 12px">
                <input type="text" style="width: 100%" ng-model="educationEdit.degree">
            </div>
            <p class="editTitle">Field of Study</p>
            <div style="margin: 6px 0px 12px">
                <input type="text" style="width: 100%" ng-model="educationEdit.field">
            </div>
            <p class="editTitle">Period</p>
            <div style="margin: 6px 0px 12px">
                <input type="text" style="width: 49%" ng-model="educationEdit.startPeriod"><!--
                                     --><span style="width: 2%"> </span><!--
                                     --><input type="text" style="width: 49%" ng-model="educationEdit.endPeriod">
            </div>

            <a class="waves-effect waves-light btn edit-confirm" ng-click="educationEditConfirm($index)">Save</a>
            <a class="waves-effect waves-light btn edit-cancel" ng-click="showEducationEdit[$index]=false">Cancel</a>
        </div>
        <!-- EDUCATION SINGLE ITEM EDIT BUTTONS-->
        <div class="edit-section">
            <a class="overlay-button edit-button" style="height: 24px; width: 24px;" ng-click="educationEditShow($index)"></a><!--
                                 --><a class="overlay-button remove-button" style="height: 24px; width: 24px;" ng-click="removeEducation($index)"></a>
        </div>
        <!-- EDUCATION SINGLE ITEM DISPLAY CONTENTS-->
        <div style="display: inline-block">
            <a href="{{edu.schoolUrl}}" class="info-title">{{edu.schoolName}}</a>
            <a class="info-subtitle">{{edu.degree}}, {{edu.field}}</a>
            <span class="info-date">{{edu.startPeriod}} – {{edu.endPeriod}}</span>
        </div>
        <div class="info-logo">
            <a href="{{edu.schoolUrl}}">
                <img ng-src="{{edu.schoolLogo}}" height="60"/>
            </a>
        </div>
    </div>
</div>