<div class="background-section">
    <div class="valign-wrapper background-section-header">
        <img src=".\images\commons\header-volunteerExperience.png" class="valign"/>
        <h3 class="valign">Volunteer Experience & Causes</h3>
    </div>
    <div id="background-volunteerexp">


        <!--CARED CAUSES-->
        <div ng-controller="caredCausesController" class="editBox-container edit-activator section-container">
            <!--CARED CAUSES EDIT BOX-->
            <div class="editBox" ng-show="showCauseAdd">
                <p class="editTitle">Cause that you care</p>
                <div style="margin: 6px 0px 12px">
                    <input type="text" style="width: 100%;" ng-model="causeAdd">
                </div>
                <a class="waves-effect waves-light btn edit-confirm" ng-click="causeAddConfirm()">Add</a>
                <a class="waves-effect waves-light btn edit-cancel" ng-click="showCauseAdd=false">Cancel</a>
            </div>
            <!--CARED CAUSES EDIT BUTTONS-->
            <div class="edit-section">
                <a class="overlay-button add-button" ng-click="causeAddShow()"></a>
            </div>
            <!--CARED CAUSES DISPLAY CONTENTS-->
            <h4>Causes {{name[0]}} cares about</h4>
            <ul class="browser-default">
                <li ng-repeat="c in caredCauses">
                    <span>{{c}}</span><!--
                                         --><a class="overlay-button remove-button" ng-click="removeCause($index)"
                                               style="margin-left: 4px; height: 16px; width: 16px;"></a>
                </li>
            </ul>
        </div>


        <!--SUPPORTED ORGANIZATIONS-->
        <div ng-controller="supportedOrganizationController" class="editBox-container edit-activator section-container">
            <!--SUPPORTED ORGANIZATIONS EDIT BOX-->
            <div class="editBox" ng-show="showOrganizationAdd">
                <p class="editTitle">Organization Name</p>
                <div style="margin: 6px 0px 12px">
                    <input type="text" style="width: 100%;" ng-model="organizationAdd.orgName">
                </div>
                <p class="editTitle">Organization Website</p>
                <div style="margin: 6px 0px 12px">
                    <input type="text" style="width: 100%;" ng-model="organizationAdd.orgWebsite">
                </div>
                <a class="waves-effect waves-light btn edit-confirm" ng-click="organizationAddConfirm()">Add</a>
                <a class="waves-effect waves-light btn edit-cancel" ng-click="showOrganizationAdd=false">Cancel</a>
            </div>
            <!--SUPPORTED ORGANIZATIONS EDIT BUTTONS-->
            <div class="edit-section">
                <a class="overlay-button add-button" ng-click="organizationAddShow()"></a>
            </div>
            <!--SUPPORTED ORGANIZATIONS DISPLAY CONTENTS-->
            <h4>Organizations {{name[0]}} supports</h4>
            <ul class="browser-default" style="margin-bottom: 0px !important;">
                <li ng-repeat="org in supportedOrganizations">
                    <a href="{{org.orgWebsite}}">
                        <span>{{org.orgName}}</span><!--
                     --><a class="overlay-button remove-button" ng-click="removeOrganization($index)" style="margin-left: 4px; height: 16px; width: 16px;"></a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>